{% extends "base.html" %}
{% block content %}

<section class="services-section">
    <header class="service-header">
        <h1>Our Services</h1>
        <p>Our office offers a variety of services with best care from our staffs, but affordable price</p>
    </header>

    
    <div class="services-grid">
        {% for s in clinic.services %}
            <div class="service-card">
                {% if s.image %}
                    <img
                        src="{{ url_for('static', filename='uploads/images/services/' ~s.image) }}"
                        alt="{{ s.name }}"
                        class="service-image"
                >
                {% else %}
                    <div class="service-icon">&#x1F9B7;</div>
                {% endif %}
                
                <h3 class="service-name">{{ s.name }}</h3>
                <p class="service-desc">{{ s.description }}</p>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}